<mat-toolbar  class="app-toolbar mat-elevation-z8" >

 <span style="color:red; font-weight:bold; ">Carib </span> &nbsp;
 <span style="color:green; font-weight:bold;" > Condominiums </span> &nbsp;
 <span style="color:orange; font-weight:bold;"> Portal</span>

 <span fxFlex>
  <div *ngIf="userService.castUser$ | async as permits" fxLayoutGap="10px"  fxLayout="row" fxLayoutAlign="end " >


    <span *ngIf="permits.isActive">
      <button mat-raised-button color="primary" routerLink="/user">Dashboard</button>
    </span>

    <span *ngIf="permits.isManager && permits.isActive">
      <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">Admin</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/admin">Admin Console</button>
        <button mat-menu-item routerLink="/admin/usermanage">User Management </button>
        <button mat-menu-item routerLink="/admin/condomanage">Condo Management </button>
        <button mat-menu-item routerLink="/admin/quickbooks">Quickbooks </button>
        <button mat-menu-item routerLink="/admin/systemadmin">System Admin< </button>
        <button mat-menu-item routerLink="/admin/paymentadmin">Payment Admin </button>
      </mat-menu>
    </span>



    <span *ngIf="permits.isActive">
      <button mat-raised-button color="primary" [matMenuTriggerFor]="menupay">Payments</button>
      <mat-menu #menupay="matMenu">
        <button mat-menu-item routerLink="/payment">Payments Console</button>
        <button mat-menu-item routerLink="/payment/paylog">Payment logger </button>
        <button mat-menu-item routerLink="/payment/payportal">Payment portal</button>
      </mat-menu>
    </span>



    <button mat-raised-button color="primary" routerLink="/user/login">Login</button>


    <span *ngIf="permits.isActive">
    <button mat-raised-button color="primary" (click)="onLogout()">Logout</button>
    </span>


  </div>
</span>

</mat-toolbar>




<div style="padding: 10px; ">

  <router-outlet style="background-color:blue"></router-outlet>
</div>


<!--
<footer>
  Carib Condominiums
</footer> -->
