.app-toolbar {
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

footer{
  color: white;
  background-color: blue;

  padding: 20px;

   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;

}
