<div cdkDropListGroup>
  <div class="example-container">
    <h2>Unpaid charges</h2>

    <div
      cdkDropList
      [cdkDropListData]="todo"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
    </div>
  </div>


  <div class="button-container">
  <button   mat-mini-fab	color="accent" (click) ="onMoveRight()">
    <mat-icon>arrow_right </mat-icon>
  </button>
  <br>
  <br>
  <button   mat-mini-fab	color="accent"  (click) ="onMoveLeft()">
    <mat-icon>arrow_left </mat-icon>
  </button>


  </div>


  <div class="example-container">
    <h2>Topay Cart</h2>

    <div
      cdkDropList
      [cdkDropListData]="done"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
    </div>
  </div>
</div>


  <app-getmonthyear></app-getmonthyear>

  <!-- <app-getmonthyear></app-getmonthyear> -->
